<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="200" style="padding-top: 0px">

            <li <%if(active==="home" ){%>class="active" <%}%>>
                    <a href="/" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Home</span>
                </a>
            </li>

            <!--数据服务-->
            <li <%if(active==="dataservice" ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%>>
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                    <span class="title">Data Service</span>
                    <%if(active==="dataservice" ){%> <span class="arrow open"></span>
                <%}else{%>
                <span class="arrow"></span>
                <%}%>
                </a>

                <ul class="sub-menu">
                    <li <%if(subactive===( "dataservice_0") ){%> class="nav-item active open" <%}else{%>
                class="nav-item" <%}%>>
                        <a href="/data" class="nav-link ">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <span class="title">Local Services</span>
                        </a>
                    </li>

                    <li <%if(subactive===( "dataservice_1") ){%>class="nav-item active open" <%}else{%>class="nav-item"<%}%>>
                        <a href="/rmt/data" class="nav-link ">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            <span class="title">Remote Services</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--数据处理服务-->
            <li <%if(active==="dp" ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%>>
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    <span class="title">Data Processing Service</span>
                   <%if(active==="dp" ){%>
                <span class="arrow open"></span>
                <%}else{%>
                <span class="arrow"></span>
                <%}%>
                </a>
                <!--Service Items 二级菜单-->
                <ul class="sub-menu">
                    <li <%if(subactive===( "dp_0") ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%> >
                        <a href="/dp" class="nav-link nav-toggle">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <span class="title">DP Service Items</span>
                        </a>
                    </li>

                    <!-- Running Instances 二级菜单-->
                    <li <%if(subactive===("dp_1") ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%> >
                        <a href="/dp/instance">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span class="title">Running Instances</span>
                        </a>
                    </li>
                    <li <%if(subactive===("dp_2") ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%> >
                        <a href="/dp/record">
                            <i class="fa fa-history" aria-hidden="true"></i>
                            <span class="title">Historic Records</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- DPS -->
            <li <%if(active==="dps" ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%>>
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <span class="title">Data Processing Solution</span>
                   <%if(active==="dps" ){%>
                <span class="arrow open"></span>
                <%}else{%>
                <span class="arrow"></span>
                <%}%>
                </a>
                <!--Service Items 二级菜单-->
                <ul class="sub-menu">
                    <li <%if(subactive===( "dps_0") ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%> >
                        <a href="/dps" class="nav-link nav-toggle">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <span class="title">DP Solution Items</span>
                        </a>
                    </li>

                    <!-- Running Instances 二级菜单-->
                    <li <%if(subactive===("dps_1") ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%> >
                        <a href="/dps/instances">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span class="title">Running Instances</span>
                        </a>
                    </li>
                    <li <%if(subactive===("dps_2") ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%> >
                        <a href="/dps/records">
                            <i class="fa fa-history" aria-hidden="true"></i>
                            <span class="title">Historic Records</span>
                        </a>
                    </li>
                </ul>
            </li>


           

            <!--可视化服务-->
            <li <%if(active==="visualization" ){%> class="nav-item active" <%}else{%> class="nav-item" <%}%> >
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-pointer" aria-hidden="true"></i>
                    <span class="title">Visualization Service</span>
                   <%if(active==="visualization" ){%>
                <span class="arrow open"></span>
                <%}else{%>
                <span class="arrow"></span>
                <%}%>
                </a>
                <!-- 本地二级菜单  -->
                <ul class="sub-menu">
                    <li <%if(subactive===( "visualization_0") ){%> class="nav-item active open" <%}else{%>
                class="nav-item" <%}%>>
                        
                        <a href="http://localhost:1708/#/console/chart?uid=as" class="nav-link">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <span class="title">Local Services</span>
                        </a>
                    </li>

                    <!--远程二级菜单  -->
                    <!-- <li <%if(subactive==="visualization_1" ){%> class="nav-item active" <%}else{%>
                class="nav-item" <%}%> >
                        <a href="/rmt/visualization" class="nav-link">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            <span class="title">Remote Services</span>
                        </a>
                    </li> -->
                </ul>
            </li>
           
            <!--回收站-->
            <li <%if(active==="recycle" ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%>>
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span class="title">Recycle Bin</span>
                    <%if(active==="recycle" ){%>
                <span class="arrow open"></span>
                <%}else{%>
                <span class="arrow"></span>
                <%}%>
                </a>

                <ul class="sub-menu">
                    <li <%if(subactive===( "recycle_0") ){%> class="nav-item active open" <%}else{%> class="nav-item" <%}%>>
                        <a href="/recycle" class="nav-link ">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <span class="title">Local Recycle Bin</span>
                        </a>
                    </li>

                    <li <%if(subactive===( "recycle_1") ){%>class="nav-item active open" <%}else{%>class="nav-item"<%}%>>
                        <a href="/rmt/recycle" class="nav-link ">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            <span class="title">Remote Recycle Bin</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!--File Manager-->
            <li <%if(active==="about" ){%> class="nav-item active" <%}else{%> class="nav-item" <%}%>>
                <a href="/user/detail" class="nav-link nav-toggle">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <span class="title">File Manager</span>
                </a>
            </li>
        </ul>
    </div>
</div>