<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Data services | distributed geographic modeling platform</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <% include ../../include_css.ejs %>
        <link href="/css/custom-style.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <%include ../../header.ejs%>
            <div class="clearfix"> </div>
            <div class="page-container">
                <% include ../../sidebar.ejs %>
                    <div class="page-content-wrapper">
                        <div class="page-content">
                            <% include ../../theme_setting.ejs %>
                                <div class="page-bar">
                                    <ul class="page-breadcrumb">
                                        <li><a href="/">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        Home
                                        </a>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <a href='/refactor'>Refactoring Services</a>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <span>Instances</span>
                                        </li>
                                    </ul>
                                </div>

                                <!-- BEGIN CONTAINER-->
                                <div class="container-fluid" style="padding:0px;margin-top:0px;min-height:655px">

                                    <p><strong>Refactor Service Instances</strong></p>

                                    <!--选择主机ip-->
                                    <div class="dropdown" style="margin:0px">
                                        <button type="button" class="btn dropdown-toggle btn-success" id="dropdownMenu1" data-toggle="dropdown">
                                            Host IP
                                            <span class="caret"></span>
                                        </button>
                                        <ul id='hosts' class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                            <!--<li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="#">Java</a>
                                            </li>-->
                                        </ul>
                                    </div>

                                    <div style="margin-top:10px;margin-bottom:10px;">
                                        <ul id="myTab" class="nav nav-tabs">
                                            <li class="active"><a href="#single" data-toggle="tab">Single</a></li>
                                            <li><a href="#multiple" data-toggle="tab">Advance</a></li>
                                            <!--<li><a href="#visual" data-toggle="tab">Visualization</a></li>-->
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="single">
                                            <!--<pre style="height:400px" id="p_xml"></pre>-->

                                            <div class="table-responsive">
                                                <table id="tab_services" class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <center>Name</center>
                                                            </th>
                                                            <th>
                                                                <center>Start Time</center>
                                                            </th>
                                                            <th>
                                                                <center>Method</center>
                                                            </th>
                                                            <th>
                                                                <center>Status</center>
                                                            </th>
                                                            <th>
                                                                <center>Operation</center>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tBody">

                                                    </tbody>
                                                </table>
                                                <div id='divinfo1' style="display:none;text-align:center">there has no more instances now.</div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="multiple">
                                            <div class="table-responsive">
                                                <table id="tab_services" class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <!-- <th>
                                                                <center>GUID</center>
                                                            </th> -->
                                                            <th>
                                                                <center>Alias</center>
                                                            </th>
                                                            <th>
                                                                <center>Start Time</center>
                                                            </th>
                                                            <th>
                                                                <center>Status</center>
                                                            </th>
                                                            <th>
                                                                <center>Operation</center>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="advanceBody">

                                                    </tbody>
                                                </table>
                                                <div id='divinfo2' style="display:none;text-align:center">there has no more instances now.</div>
                                            </div>
                                        </div>
                                        <!--<div class="tab-pane fade" id="visual">
                                                <div id='div_see' style="width:600px;height:400px;"></div>
                                            </div>-->
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            <%include ../../footer.ejs%>
    </div>

    <% include ../../include_js.ejs %>

        <script type="text/template" id="refactor_moban">
            <tr>
                <td style="text-align:center;vertical-align:inherit;">
                    <div><span>{{= name }}</span></div>
                </td>
                <td style="text-align:center;vertical-align:inherit;">
                    <div><span>{{= starttime }}</span></div>
                </td>
                <td style="text-align:center;vertical-align:inherit;">
                    <div><span>{{= method }}</span></div>
                </td>
                <td style="text-align:center;vertical-align:inherit;">
                    <div><span>{{= status }}</span></div>
                </td>
                <td style="text-align:center;vertical-align:inherit;cursor:pointer">
                    <div>
                        <span><a class='btn btn-primary' href="#">Details</a></span>
                    </div>
                </td>
            </tr>
        </script>

        <script type="text/template" id="refactor_advance_moban">
            <tr>
                <td style="text-align:center;vertical-align:inherit;">
                    <div><span>{{= alias }}</span></div>
                </td>
                <td style="text-align:center;vertical-align:inherit;">
                    <div><span>{{= starttime }}</span></div>
                </td>
                <td style="text-align:center;vertical-align:inherit;">
                    <div><span>{{= status }}</span></div>
                </td>
                <td style="text-align:center;vertical-align:inherit;cursor:pointer">
                    <div>
                        <span><a class='btn btn-primary' href="#">Details</a></span>
                    </div>
                </td>
            </tr>
        </script>

        <script src="/js/underscore-noflect.js"></script>
        <script src='/myjs/datamap_tools.js'></script>
        <script src="/js/custom-js/my-filter.js"></script>

        <script>
            var clock_id1 = '';
            var clock_id2 = '';

            function loadRefactorInstances(ip) {
                // 请求运行实例信息
                $.get('/rmt/common/instances', { type: 'refactor', ip: ip }, function (data) {
                    $("#tBody").html('');
                    data = JSON.parse(data);

                    if (data.length <= 0) {
                        clearInterval(clock_id1);
                        $('#divinfo1').css('display', 'block');
                        return;
                    }
                    $('#divinfo1').css('display', 'none');

                    var compiled = _.template($("#refactor_moban").html());

                    for (var i = 0; i < data.length; i++) {
                        // 填充表格
                        var html = compiled({
                            guid: data[i].guid,
                            name: data[i].sname,
                            starttime: data[i].starttime,
                            status: data[i].status,
                            method: data[i].method
                        });
                        $("#tBody").append($(html));
                    }

                });
            }

            function loadRefactorAdvanceInstances(ip) {
                // 请求串联运行实例信息
                $.get('/rmt/common/instances', { type: 'refactor_advance', ip: ip }, function (data) {
                    $("#advanceBody").html('');
                    data = JSON.parse(data);

                    if (data.length <= 0) {
                        clearInterval(clock_id2);
                        $('#divinfo2').css('display', 'block');
                        return;
                    }

                    $('#divinfo2').css('display', 'none');

                    var compiled = _.template($("#refactor_advance_moban").html());

                    for (var i = 0; i < data.length; i++) {
                        // 填充表格
                        var html = compiled({
                            guid: data[i].guid,
                            alias: data[i].sname, // 此处就是当前实例的别名
                            starttime: data[i].starttime,
                            status: data[i].status
                        });
                        $("#advanceBody").append($(html));
                    }
                });
            }

            $(function () {

                // 拿到所有的局域网的ip地址
                $.get('/rmt/ips', {}, function (data) {
                    // 获取局域网内的ip所有主机的ip地址
                    if (data === '-1') {
                        toastr.error('failed to get the host information, the server is busy.', 'Error', { timeOut: 3000 });
                        return;
                    }

                    var firstip = '';
                    var html = '';
                    for (var i = 0; i < data.length; i++) {
                        if (i === 0) {
                            firstip = data[i].host + ':' + data[i].port;
                        }
                        html += '<li role="presentation">';
                        html += '<a role="menuitem" tabindex="-1" onclick="loadRefactorInstances(\'' + data[i].host + ':' + data[i].port + '\');getRefactorInstanceInfo(\'' + data[i].host + ':' + data[i].port + '\');loadRefactorAdvanceInstances(\'' + data[i].host + ':' + data[i].port + '\');getRefactorAdvanceInstanceInfo(\'' + data[i].host + ':' + data[i].port + '\');" href="javascript:void(0);">' + data[i].host + ':' + data[i].port + '</a>';
                        html += '</li>';
                    }
                    $('#hosts').append($(html));

                    loadRefactorInstances(firstip);
                    getRefactorInstanceInfo(firstip);

                    loadRefactorAdvanceInstances(firstip);
                    getRefactorAdvanceInstanceInfo(firstip);
                });
            });


            // 加载远程主机实例信息
            function getRefactorInstanceInfo(ip) {
                clock_id1 = setInterval(function () {
                    loadRefactorInstances(ip);
                }, 5000);
            }

            function getRefactorAdvanceInstanceInfo(ip) {
                clock_id2 = setInterval(function () {
                    loadRefactorAdvanceInstances(ip);
                }, 5000);
            }
        </script>
</body>

</html>