<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Data services | distributed geographic modeling platform</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <% include ../../include_css.ejs %>
        <!-- END THEME LAYOUT STYLES -->
        <link href="/css/custom-style.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <%include ../../header.ejs%>
            <div class="clearfix"> </div>
            <div class="page-container">
                <% include ../../sidebar.ejs %>
                    <div class="page-content-wrapper">
                        <div class="page-content">
                            <% include ../../theme_setting.ejs %>
                                <div class="page-bar">
                                    <ul class="page-breadcrumb">
                                        <li>
                                            <a href="/">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                Home
                                             </a>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <a href="/datamap">Mapping Services</a>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </li>
                                        <li>
                                            <span>Record</span>
                                        </li>
                                    </ul>
                                </div>

                                <!-- BEGIN CONTAINER-->
                                <div class="container-fluid" style="padding:0px;margin-top:0px;min-height:655px">

                                    <!--服务信息-->
                                    <div style='margin-top:10px;' class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Mapping Service Information</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="blog-img">
                                                        <img style='width:200px;height:150px;' id='sSnapshot' src="" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div style="font-size: 14px; color:#aaa">
                                                        <strong>Service Name&nbsp;:&nbsp;</strong><span id='sName'></span>
                                                        <br>
                                                        <strong>Author&nbsp;:&nbsp;</strong><span id='sAuthor'></span>
                                                        <!-- <br>
                                                        <strong>Tags&nbsp;:&nbsp;</strong><span id='sTags'></span> -->
                                                        <br>
                                                        <strong>Platform&nbsp;:&nbsp;</strong>
                                                        <span class="label custom-label"><i class="fa fa-windows"></i>windows</span>
                                                        <br>
                                                        <strong>Upload Datetime&nbsp;:&nbsp;</strong><span id='sDatetime'></span>
                                                        <br>
                                                        <strong>Status&nbsp;:&nbsp;</strong><span id='sStatus'></span>
                                                        <br>
                                                        <strong>Service Description&nbsp;:&nbsp;</strong>
                                                        <span id='sDescription'></span>
                                                    </div>
                                                    <br>
                                                    <a id='sMore' href="#">More Information >></a>
                                                    <br>
                                                    <p></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!--运行信息-->
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Mapping Service Running Record Information</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="panel-body" id="msrInfo" style="padding:0px;">
                                                <div style="padding:0px;margin:0px;">
                                                    <p><strong>Invoker&nbsp;:&nbsp;</strong><span id='rInvoker'></span></p>
                                                    <p><strong>Start Time&nbsp;:&nbsp;</strong><span id='rStartTime'></span></p>
                                                    <p><strong>Duration&nbsp;:&nbsp;</strong><span id='rClamp'></span></p>
                                                    <!-- <p><strong>Instance GUID&nbsp;:&nbsp;</strong><span id='rGuid'></span></p> -->
                                                    <p><strong>InputData&nbsp;:&nbsp;</strong>
                                                        <br>
                                                        <div id='rInput'></div>
                                                        <!--<br>
                                                        <a href='#' style="font-size:16px;">shussadsads</a>
                                                        <br>
                                                        <a href='#' style="font-size:16px;">shussadsads</a>
                                                        <br>-->
                                                    </p>
                                                    <p><strong>Output Data&nbsp;:&nbsp;</strong><br>
                                                        <div id='rOutput'></div>
                                                    </p>
                                                    <p>
                                                        <strong>Running information&nbsp;:&nbsp;</strong>
                                                        <br>
                                                        <div id='rLog'></div>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            <%include ../../footer.ejs%>
    </div>

    <% include ../../include_js.ejs %>

        <script src="/js/underscore-noflect.js"></script>
        <script src='/myjs/datamap_tools.js'></script>
        <script src="/js/custom-js/my-filter.js"></script>

        <script>
            $(function () {
                // 当前模型的运行实例    
                var guid = GetQueryString('guid');
                var ip = GetQueryString('ip');

                // 获取运行记录信息
                $.get('/rmt/common/records', { type: 'datamap', guid: guid, ip: ip }, function (data) {

                    if (data === '-1') {
                        toastr.error('failed to load record information.', 'Error', { timeOut: 3000 });
                        return;
                    }

                    data = JSON.parse(data);

                    // 服务id
                    var runInfo = {
                        sid: data[0].service._id,
                        guid: data[0].guid,
                        inputArr: data[0].input,
                        outputArr: data[0].output,
                        starttime: data[0].starttime,
                        endtime: data[0].endtime,
                        status: data[0].status,  // 0 正在运行    1运行完毕    -1 运行错误
                        error: data[0].error,
                        username: data[0].username,
                        log:data[0].log
                    };

                    // 更多信息
                    $('#sMore').attr('href', '/rmt/common/detail?id=' + runInfo.sid + '&type=datamap&ip=' + ip);

                    // 请求服务信息
                    // $.get('/rmt/common/services', { type: 'datamap', 'pageamount': 10, page: 0, ids: [runInfo.sid], ip: ip }, function (sInfo) {
                    //     if (sInfo === '-1') {
                    //         toastr.error('failed to get mapping service information.', 'Error', { timeOut: 3000 });
                    //         return;
                    //     }

                    // sInfo = JSON.parse(sInfo);

                    sInfo = data[0].service;

                    //组织html
                    $('#sName').text(sInfo.name);
                    $('#sAuthor').text(sInfo.author);
                    // $('#sTags').text(sInfo.tags);
                    $('#sDatetime').text(sInfo.datetime);
                    //  class="badge badge-success"   
                    if (sInfo.available === '1') {//可用
                        $('#sStatus').addClass('label label-success');
                        $('#sStatus').text('available');
                    } else {
                        $('#sStatus').addClass('label label-error');
                        $('#sStatus').text('disabled');
                    }

                    $('#sDescription').text(sInfo.description);


                    // imgSrc: "data:image/" + format + ";base64," + imgData,
                    $('#sSnapshot').attr('src', sInfo.snapshot);

                    //加载运行记录信息
                    $('#rInvoker').text(runInfo.username);
                    $('#rStartTime').text(runInfo.starttime);
                    // 历时
                    var start = new Date(runInfo.starttime);
                    var end = new Date(runInfo.endtime);
                    $('#rClamp').text((end - start) / 1000 + 's');
                    // guid
                    // $('#rGuid').text(runInfo.guid);
                    var html = '';
                    //输入数据
                    for (var i = 0; i < runInfo.inputArr.length; i++) {
                        html += '<a href="/rmt/user/download?filename=' + runInfo.inputArr[i].oid + '&ip=' + ip + '" style="font-size:16px;">' + runInfo.inputArr[i].filename + '</a>';
                        html += '<br>';
                    }
                    $('#rInput').append($(html));

                    html = '';
                    // 输出数据
                    for (var i = 0; i < runInfo.outputArr.length; i++) {
                        html += '<a href="/rmt/user/download?filename=' + runInfo.outputArr[i].oid + '&ip=' + ip + '" style="font-size:16px;">' + runInfo.outputArr[i].filename + '</a>';
                        html += '<br>';
                    }
                    $('#rOutput').append($(html));


                    html = '';
                    // 标准输出
                    if (runInfo.status === '1') { // 正常结束
                        // $('#rLog').text(runInfo.log);
                        html += '<span class="label label-info">standard output</span>';
                        html += '<pre>' + runInfo.log + '</pre>';

                    } else if (runInfo.status === '-1') { // 发生异常
                        html += '<span class="label label-danger">error log</span>';
                        var result = JSON.stringify(runInfo.error).replace(/\\r\\n/g, '<br>');
                        html += '<pre>' + result + '</pre>';
                    }
                    // console.log(runInfo.error);
                    $('#rLog').append($(html));

                    // });
                });
            });
        </script>
</body>

</html>